version: '3'
services:
  myapp:
    build: .
    environment:
      - DISPLAY=${HOSTNAME}:0
    volumes:
      - /tmp/.X11-unix:/tmp/.X11-unix
    depends_on:
      - influx
    ports:
    - '8010:8010'

  influx:
    image: influxdb:latest
    ports:
      - '8086:8086'
    environment:
      - INFLUXDB_DB=mydb